@import "tailwindcss";

@theme inline {
  /* Polices */
  --font-sans: var(--font-hanken);
  --font-mono: var(--font-jetbrains);

  /* Palette Bary */
  --color-brand-orange: #E07B39;
  --color-brand-blue: #2563EB;
}

body {
  background: #ffffff;
  color: #171717;
}
